{{- $u := .Destination -}}
{{- $img := "" -}}
{{- $img = .Page.Resources.GetMatch $u -}}
{{- if not $img -}}{{- $img = resources.Get $u -}}{{- end -}}
{{- if and (not $img) (findRE "^https?://" $u) -}}{{- $img = resources.GetRemote $u -}}{{- end -}}

{{- if $img -}}
    {{- $tagName := "div" -}}
    {{- if eq .Title "center" -}}{{- $tagName = "figure" -}}{{- end -}}
    
    {{- /* Store original path */ -}}
    {{- $original := $img.RelPermalink -}}

    {{- /* Process display version */ -}}
    {{- if gt $img.Width 1200 -}}
        {{- $img = $img.Resize "1200x webp" -}}
    {{- else -}}
        {{- $img = $img.Resize (printf "%dx%d webp" $img.Width $img.Height) -}}
    {{- end -}}

    {{ printf "<%s class=\"post-img-container\">" $tagName | safeHTML }}
        <img loading="lazy" 
            src="{{ $img.RelPermalink }}" 
            data-zoom-src="{{ $original }}"
            class="zoomable"
            alt="{{ .Text }}" 
            width="{{ $img.Width }}" 
            height="{{ $img.Height }}">
        {{- if .Title -}}
            <figcaption>{{ .Title }}</figcaption>
        {{- end -}}
    {{ printf "</%s>" $tagName | safeHTML }}
{{- else -}}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" title="{{ .Title }}">
{{- end -}}