.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;


    max-height: 50vh;
    width: auto;

    border: 2px solid var(--border);
    border-radius: 8px;
    padding: 2px;
    background: var(--code-bg);
}
