site_url: https://blog.quexeky.dev
display_url: https://blog.quexeky.dev

show_preview_links: true

publish_mode: editorial_workflow
backend:
  name: github
  repo: quexeky/blog
  branch: master
  base_url: https://blog.quexeky.dev
  auth_endpoint: api/auth
  squash_merges: true
  preview_context: 'cloudflare preview deploy'

locale: 'en'

media_folder: "assets/images"
public_folder: "/images"

collections:
  - name: "posts"
    label: "Posts"
    label_singular: "Post"
    folder: "content/posts"
    create: true

    path: "{{slug}}--{{year}}-{{month}}-{{day}}/index"
    preview_path: "posts/{{title}}-{{year}}-{{month}}-{{day}}"
    preview_path_date_field: date

    editor:
      preview: true
    
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DDTHH:mm:ssZ"}
      - {label: "Description", name: "description", widget: "string", hint: "Used for SEO and post summaries"}
      - {label: "Draft", name: "draft", widget: "boolean", default: true}
      
      - label: "Cover Image"
        name: "cover"
        widget: "object"
        required: false
        fields:
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Alt Text", name: "alt", widget: "string"}
          - {label: "Caption", name: "caption", widget: "string", required: false}
          - {label: "Relative Path", name: "relative", widget: "hidden", default: true}

      - {label: "Tags", name: "tags", widget: "list", required: false}
      - {label: "Categories", name: "categories", widget: "list", required: false}
      
      - label: "Show TOC"
        name: "showToc"
        widget: "boolean"
        default: true
        required: false
        hint: "Override global Table of Contents setting"

      - {label: "Body", name: "body", widget: "markdown"}