<script defer src="https://info.quexeky.dev/script.js" data-website-id="9f7ef7fe-dd76-4a77-9849-c40425a143a9"></script>

{{- if .IsPage -}}
{{- $images := .Resources.ByType "image" -}}
{{- $contentImg := findRE "<img src=\"([^\"]+)\"" .Content 1 -}} {{- if $images -}} <meta property="og:image"
    content="{{ (index $images 0).Permalink }}">
{{- else if $contentImg -}}
{{- $url := index $contentImg 0 | replaceRE "<img src=\"" "" | replaceRE "\"" "" -}}
    <meta property=" og:image" content="{{ $url | absURL }}">
{{- end -}}
{{- end -}}
